

.main-banner{
    width: 1140px;
    background-image:url("../assets/Hero-bg.png") ;
}

.section-1-img{
    display: block;
    margin: auto;

}
.section-1-btn{
    display:flex;
    justify-content: center;
    
}
.btn-2{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius:5px ;
}
.all-section{
  margin-top: 20px;
  border: 1px solid black;
  background-color:#0d132105 ;
  border-radius: 16px;
  width: 1140px;


    
}
.section-3{
 background-color: white;
 display: flex;
 justify-content: space-between;
 padding: 20px 30px;
 border-radius: 16px;

}
.section-4{
    margin-top: 20px;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px 30px;
    border-radius: 16px;
}
